.category {
    text-transform: capitalize;
    width: 220px;
}

.dropdown-menu {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
    opacity: 0;
}

.categories:hover .dropdown-menu{
    visibility: visible;
    opacity: 1;
}

